## Table of Contents
    > Importing Libraries and Data
    > Checking Data Set Shapes
    > Adding Server Column
        >> Brazil
        >> Europe Nordic & East
        >> Europe West
        >> Korea
        >> Latin America North
        >> Latin America South
        >> North America
        >> Oceania
        >> Russia
        >> Turkey
    > Merging Data
    > Cleaning Data
        >> Dropping Columns
        >> Reordering Coulumns
        >> Renaming Columns
        >> Changing Data Types
    > Exporting

## Importing Libraries and Data

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Removing limiter on columns and rows at the cost of processing power
pd.set_option('display.max_columns', None)

In [3]:
# Pathing project folder
path = r'C:\Users\javir\Downloads\Javis Data Analytics stuff\Achievement 6\LoL Regional Project'

In [4]:
# Importing a reasonalbe amount of data sets
BR = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataBR_Cleaned.csv'))
EUN = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataEUN_Cleaned.csv'))
EUW = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataEUW_Cleaned.csv'))
KR = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataKR_Cleaned.csv'))
LAN = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataLAN_Cleaned.csv'))
LAS = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataLAS_Cleaned.csv'))
NA = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataNA_Cleaned.csv'))
OC = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataOC_Cleaned.csv'))
RU = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataRU_Cleaned.csv'))
TR = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','MatchDataTR_Cleaned.csv'))

## Checking Data Set Shapes

In [5]:
BR.shape

(40000, 40)

In [6]:
EUN.shape

(40000, 40)

In [7]:
EUW.shape

(40000, 40)

In [8]:
KR.shape

(40000, 40)

In [9]:
LAN.shape

(40000, 40)

In [10]:
LAS.shape

(40000, 40)

In [11]:
NA.shape

(40000, 40)

In [12]:
OC.shape

(40000, 40)

In [13]:
RU.shape

(40000, 40)

In [14]:
TR.shape

(40000, 40)

## Adding Server Column

#### Brazil

In [15]:
# Creating a list that will be used to fill the column 'server' we are creating
BR_Region = []

for value in BR['seasonId']:
    if value == 11:
      BR_Region.append('Brazil')
    else:
      BR_Region.append('Error')

In [16]:
# Creation of 'server' column
BR['server'] = BR_Region

In [17]:
# Checking to make sure its there
BR.shape

(40000, 41)

In [18]:
# Checking Values
BR['server'].describe()

count      40000
unique         1
top       Brazil
freq       40000
Name: server, dtype: object

#### Europe Nordic & East

In [19]:
# Creating a list that will be used to fill the column 'server' we are creating
EUN_Region = []

for value in EUN['seasonId']:
    if value == 11:
      EUN_Region.append('Europe Nordic & East')
    else:
      EUN_Region.append('Error')

In [20]:
# Creation of 'server' column
EUN['server'] = EUN_Region

In [21]:
# Checking to make sure its there
EUN.shape

(40000, 41)

In [22]:
# Checking Values
EUN['server'].describe()

count                    40000
unique                       1
top       Europe Nordic & East
freq                     40000
Name: server, dtype: object

#### Europe West

In [23]:
# Creating a list that will be used to fill the column 'server' we are creating
EUW_Region = []

for value in EUW['seasonId']:
    if value == 11:
      EUW_Region.append('Europe West')
    else:
      EUW_Region.append('Error')

In [24]:
# Creation of 'server' column
EUW['server'] = EUW_Region

In [25]:
# Checking to make sure its there
EUW.shape

(40000, 41)

In [26]:
# Checking Values
EUW['server'].describe()

count           40000
unique              1
top       Europe West
freq            40000
Name: server, dtype: object

#### Korea

In [27]:
# Creating a list that will be used to fill the column 'server' we are creating
KR_Region = []

for value in KR['seasonId']:
    if value == 11:
      KR_Region.append('Korea')
    else:
      KR_Region.append('Error')

In [28]:
# Creation of 'server' column
KR['server'] = KR_Region

In [29]:
# Checking to make sure its there
KR.shape

(40000, 41)

In [30]:
# Checking Values
KR['server'].describe()

count     40000
unique        1
top       Korea
freq      40000
Name: server, dtype: object

#### Latin America North

In [31]:
# Creating a list that will be used to fill the column 'server' we are creating
LAN_Region = []

for value in LAN['seasonId']:
    if value == 11:
      LAN_Region.append('Latin America North')
    else:
      LAN_Region.append('Error')

In [32]:
# Creation of 'server' column
LAN['server'] = LAN_Region

In [33]:
# Checking to make sure its there
LAN.shape

(40000, 41)

In [34]:
# Checking Values
LAN['server'].describe()

count                   40000
unique                      1
top       Latin America North
freq                    40000
Name: server, dtype: object

#### Latin America South

In [35]:
# Creating a list that will be used to fill the column 'server' we are creating
LAS_Region = []

for value in LAS['seasonId']:
    if value == 11:
      LAS_Region.append('Latin America South')
    else:
      LAS_Region.append('Error')

In [36]:
# Creation of 'server' column
LAS['server'] = LAS_Region

In [37]:
# Checking to make sure its there
LAS.shape

(40000, 41)

In [38]:
# Checking Values
LAS['server'].describe()

count                   40000
unique                      1
top       Latin America South
freq                    40000
Name: server, dtype: object

#### North America

In [39]:
# Creating a list that will be used to fill the column 'server' we are creating
NA_Region = []

for value in NA['seasonId']:
    if value == 11:
      NA_Region.append('North America')
    else:
      NA_Region.append('Error')

In [40]:
# Creation of 'server' column
NA['server'] = NA_Region

In [41]:
# Checking to make sure its there
NA.shape

(40000, 41)

In [42]:
# Checking Values
NA['server'].describe()

count             40000
unique                1
top       North America
freq              40000
Name: server, dtype: object

#### Oceania

In [43]:
# Creating a list that will be used to fill the column 'server' we are creating
OC_Region = []

for value in OC['seasonId']:
    if value == 11:
      OC_Region.append('Oceania')
    else:
      OC_Region.append('Error')

In [44]:
# Creation of 'server' column
OC['server'] = OC_Region

In [45]:
# Checking to make sure its there
OC.shape

(40000, 41)

In [46]:
# Checking Values
OC['server'].describe()

count       40000
unique          1
top       Oceania
freq        40000
Name: server, dtype: object

#### Russia

In [47]:
# Creating a list that will be used to fill the column 'server' we are creating
RU_Region = []

for value in RU['seasonId']:
    if value == 11:
      RU_Region.append('Russia')
    else:
      RU_Region.append('Error')

In [48]:
# Creation of 'server' column
RU['server'] = RU_Region

In [49]:
# Checking to make sure its there
RU.shape

(40000, 41)

In [50]:
# Checking Values
RU['server'].describe()

count      40000
unique         1
top       Russia
freq       40000
Name: server, dtype: object

#### Turkey

In [51]:
# Creating a list that will be used to fill the column 'server' we are creating
TR_Region = []

for value in TR['seasonId']:
    if value == 11:
      TR_Region.append('Turkey')
    else:
      TR_Region.append('Error')

In [52]:
# Creation of 'server' column
TR['server'] = TR_Region

In [53]:
# Checking to make sure its there
TR.shape

(40000, 41)

In [54]:
# Checking Values
TR['server'].describe()

count      40000
unique         1
top       Turkey
freq       40000
Name: server, dtype: object

## Merging Data

In [55]:
# Creating a list of our data sets
data = [BR, EUN, EUW, KR, LAN, LAS, NA, OC, RU, TR]

In [56]:
# Creating new dataframe by concatenating the data sets together
merge = pd.concat(data)

In [57]:
# Checking our shape,(40,000 rows * 10 data sets) by (41 columns)
merge.shape

(400000, 41)

In [58]:
merge

,Unnamed: 0,matchId,seasonId,gameDuration,gameCreation,win,team,wardsPlaced,firstBlood,firstTower,firstInhibitor,firstDragon,firstRiftHerald,firstBaron,teamKills,towerKills,inhibitorKills,dragonKills,riftHeraldKills,baronKills,ban1,ban2,ban3,ban4,ban5,pick1,pick2,pick3,pick4,pick5,player1Kills,player2Kills,player3Kills,player4Kills,player5Kills,soloKills,duoKills,trioKills,quadKills,pentaKills,server
0,0,1464336847,11,1278,<1536777218683,0,1,34,0,0,0,0,0,0,9,1,0,0,0,0,Camille,Alistar,Leblanc,Talon,Rakan,Irelia,Morgana,Fiddlesticks,Kennen,Vayne,0,5,1,2,1,3,4,2,1,0,Brazil
1,1,1464336847,11,1278,<1536777218683,1,0,50,1,1,0,1,1,1,15,3,0,2,1,1,Kassadin,Talon,Yasuo,Akali,Camille,Kaisa,Darius,Thresh,LeeSin,Vladimir,1,3,1,2,8,7,7,5,0,0,Brazil
2,2,1469537223,11,1689,<1537133828880,0,1,45,0,0,0,0,0,0,14,5,0,1,0,0,Aatrox,Nami,Camille,Pyke,Akali,Irelia,Kaisa,Jax,Thresh,Taliyah,0,4,4,2,4,4,13,8,1,0,Brazil
3,3,1469537223,11,1689,<1537133828880,1,0,102,1,1,1,1,1,1,31,7,1,2,1,1,Graves,Morgana,Talon,Vladimir,Leblanc,Urgot,Lulu,Lucian,Kayn,Yasuo,12,4,1,6,8,5,6,8,3,1,Brazil
4,4,1476908929,11,1503,<1537913707045,1,1,31,1,1,1,1,1,1,31,10,3,3,1,1,Evelynn,Akali,Singed,Vladimir,Graves,LeeSin,Zed,Draven,Alistar,Rumble,1,4,6,17,3,6,13,9,3,4,Brazil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39995,754852101,11,1538,<1536781560637,0,0,50,1,0,0,0,0,0,21,2,0,0,0,0,Pyke,Darius,Akali,Yasuo,Jax,Camille,Alistar,Syndra,Lucian,Khazix,4,0,1,7,9,7,8,4,0,0,Turkey
39996,39996,734977956,11,2217,<1532462844338,1,1,59,0,0,1,1,0,1,36,7,1,1,0,2,Aatrox,Brand,Darius,Yasuo,Leblanc,Vayne,Gragas,Teemo,Talon,AurelionSol,0,15,6,4,11,10,13,9,8,3,Turkey
39997,39997,734977956,11,2217,<1532462844338,0,0,79,1,1,0,0,1,0,49,6,0,3,1,0,Velkoz,Graves,Darius,Wukong,Yasuo,Zed,Alistar,Kled,Evelynn,Sivir,7,20,3,5,14,11,14,18,5,0,Turkey
39998,39998,748423621,11,1484,<1535495972554,0,1,25,1,0,0,0,0,0,18,0,0,0,0,0,Yasuo,Zoe,Diana,Zed,Morgana,Xayah,Ryze,Garen,Camille,Rakan,0,6,3,7,2,4,6,8,1,0,Turkey
39999,39999,748423621,11,1484,<1535495972554,1,0,44,0,1,1,1,1,0,30,10,2,3,1,0,Morgana,Draven,Leblanc,Katarina,Fiora,Vi,Talon,Annie,Poppy,Ezreal,1,7,16,4,2,9,13,10,2,0,Turkey

## Data Cleaning

#### Dropping Columns

In [59]:
merge.columns

Index(['Unnamed: 0', 'matchId', 'seasonId', 'gameDuration', 'gameCreation',
       'win', 'team', 'wardsPlaced', 'firstBlood', 'firstTower',
       'firstInhibitor', 'firstDragon', 'firstRiftHerald', 'firstBaron',
       'teamKills', 'towerKills', 'inhibitorKills', 'dragonKills',
       'riftHeraldKills', 'baronKills', 'ban1', 'ban2', 'ban3', 'ban4', 'ban5',
       'pick1', 'pick2', 'pick3', 'pick4', 'pick5', 'player1Kills',
       'player2Kills', 'player3Kills', 'player4Kills', 'player5Kills',
       'soloKills', 'duoKills', 'trioKills', 'quadKills', 'pentaKills',
       'server'],
      dtype='object')

In [60]:
# Dropping unnamed column
merge_2 = merge.drop(columns = ['Unnamed: 0'])

In [61]:
# Resetting our index as it's range is 0:39999 then resetsback to 0 because of how I concatenated it
merge_3 = merge_2.reset_index()

In [62]:
# It created a new index column we dont need
merge_3.columns

Index(['index', 'matchId', 'seasonId', 'gameDuration', 'gameCreation', 'win',
       'team', 'wardsPlaced', 'firstBlood', 'firstTower', 'firstInhibitor',
       'firstDragon', 'firstRiftHerald', 'firstBaron', 'teamKills',
       'towerKills', 'inhibitorKills', 'dragonKills', 'riftHeraldKills',
       'baronKills', 'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 'pick1', 'pick2',
       'pick3', 'pick4', 'pick5', 'player1Kills', 'player2Kills',
       'player3Kills', 'player4Kills', 'player5Kills', 'soloKills', 'duoKills',
       'trioKills', 'quadKills', 'pentaKills', 'server'],
      dtype='object')

In [63]:
# Dropping the index column
merge_4 = merge_3.drop(columns = ['index'])

In [64]:
# Tok 4 takes but things look good
merge_4

,matchId,seasonId,gameDuration,gameCreation,win,team,wardsPlaced,firstBlood,firstTower,firstInhibitor,firstDragon,firstRiftHerald,firstBaron,teamKills,towerKills,inhibitorKills,dragonKills,riftHeraldKills,baronKills,ban1,ban2,ban3,ban4,ban5,pick1,pick2,pick3,pick4,pick5,player1Kills,player2Kills,player3Kills,player4Kills,player5Kills,soloKills,duoKills,trioKills,quadKills,pentaKills,server
0,1464336847,11,1278,<1536777218683,0,1,34,0,0,0,0,0,0,9,1,0,0,0,0,Camille,Alistar,Leblanc,Talon,Rakan,Irelia,Morgana,Fiddlesticks,Kennen,Vayne,0,5,1,2,1,3,4,2,1,0,Brazil
1,1464336847,11,1278,<1536777218683,1,0,50,1,1,0,1,1,1,15,3,0,2,1,1,Kassadin,Talon,Yasuo,Akali,Camille,Kaisa,Darius,Thresh,LeeSin,Vladimir,1,3,1,2,8,7,7,5,0,0,Brazil
2,1469537223,11,1689,<1537133828880,0,1,45,0,0,0,0,0,0,14,5,0,1,0,0,Aatrox,Nami,Camille,Pyke,Akali,Irelia,Kaisa,Jax,Thresh,Taliyah,0,4,4,2,4,4,13,8,1,0,Brazil
3,1469537223,11,1689,<1537133828880,1,0,102,1,1,1,1,1,1,31,7,1,2,1,1,Graves,Morgana,Talon,Vladimir,Leblanc,Urgot,Lulu,Lucian,Kayn,Yasuo,12,4,1,6,8,5,6,8,3,1,Brazil
4,1476908929,11,1503,<1537913707045,1,1,31,1,1,1,1,1,1,31,10,3,3,1,1,Evelynn,Akali,Singed,Vladimir,Graves,LeeSin,Zed,Draven,Alistar,Rumble,1,4,6,17,3,6,13,9,3,4,Brazil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,754852101,11,1538,<1536781560637,0,0,50,1,0,0,0,0,0,21,2,0,0,0,0,Pyke,Darius,Akali,Yasuo,Jax,Camille,Alistar,Syndra,Lucian,Khazix,4,0,1,7,9,7,8,4,0,0,Turkey
399996,734977956,11,2217,<1532462844338,1,1,59,0,0,1,1,0,1,36,7,1,1,0,2,Aatrox,Brand,Darius,Yasuo,Leblanc,Vayne,Gragas,Teemo,Talon,AurelionSol,0,15,6,4,11,10,13,9,8,3,Turkey
399997,734977956,11,2217,<1532462844338,0,0,79,1,1,0,0,1,0,49,6,0,3,1,0,Velkoz,Graves,Darius,Wukong,Yasuo,Zed,Alistar,Kled,Evelynn,Sivir,7,20,3,5,14,11,14,18,5,0,Turkey
399998,748423621,11,1484,<1535495972554,0,1,25,1,0,0,0,0,0,18,0,0,0,0,0,Yasuo,Zoe,Diana,Zed,Morgana,Xayah,Ryze,Garen,Camille,Rakan,0,6,3,7,2,4,6,8,1,0,Turkey
399999,748423621,11,1484,<1535495972554,1,0,44,0,1,1,1,1,0,30,10,2,3,1,0,Morgana,Draven,Leblanc,Katarina,Fiora,Vi,Talon,Annie,Poppy,Ezreal,1,7,16,4,2,9,13,10,2,0,Turkey

#### Duplicating 'team' & 'win' columns

Duplicating columns for more in-depth exploratory analysis later, we will be altering these duplicate columns for clarity in later steps in this script

In [65]:
team_side = merge_4['team']

In [66]:
outcome =merge_4['win']

In [67]:
merge_4['map_side'] = team_side

In [68]:
merge_4['outcome'] = outcome

#### Reordering columns

In [69]:
# Our desired column order list
cols = ['server','seasonId','matchId','gameCreation','gameDuration','team','map_side','win','outcome','wardsPlaced','firstBlood','firstTower','firstInhibitor','firstDragon','firstRiftHerald','firstBaron','teamKills','towerKills','inhibitorKills','dragonKills','riftHeraldKills','baronKills','ban1','ban2','ban3','ban4','ban5','pick1','pick2','pick3','pick4','pick5','player1Kills','player2Kills','player3Kills','player4Kills','player5Kills','soloKills','duoKills','trioKills','quadKills','pentaKills']

In [70]:
merge_5 = merge_4[cols]

In [71]:
merge_5

,server,seasonId,matchId,gameCreation,gameDuration,team,map_side,win,outcome,wardsPlaced,firstBlood,firstTower,firstInhibitor,firstDragon,firstRiftHerald,firstBaron,teamKills,towerKills,inhibitorKills,dragonKills,riftHeraldKills,baronKills,ban1,ban2,ban3,ban4,ban5,pick1,pick2,pick3,pick4,pick5,player1Kills,player2Kills,player3Kills,player4Kills,player5Kills,soloKills,duoKills,trioKills,quadKills,pentaKills
0,Brazil,11,1464336847,<1536777218683,1278,1,1,0,0,34,0,0,0,0,0,0,9,1,0,0,0,0,Camille,Alistar,Leblanc,Talon,Rakan,Irelia,Morgana,Fiddlesticks,Kennen,Vayne,0,5,1,2,1,3,4,2,1,0
1,Brazil,11,1464336847,<1536777218683,1278,0,0,1,1,50,1,1,0,1,1,1,15,3,0,2,1,1,Kassadin,Talon,Yasuo,Akali,Camille,Kaisa,Darius,Thresh,LeeSin,Vladimir,1,3,1,2,8,7,7,5,0,0
2,Brazil,11,1469537223,<1537133828880,1689,1,1,0,0,45,0,0,0,0,0,0,14,5,0,1,0,0,Aatrox,Nami,Camille,Pyke,Akali,Irelia,Kaisa,Jax,Thresh,Taliyah,0,4,4,2,4,4,13,8,1,0
3,Brazil,11,1469537223,<1537133828880,1689,0,0,1,1,102,1,1,1,1,1,1,31,7,1,2,1,1,Graves,Morgana,Talon,Vladimir,Leblanc,Urgot,Lulu,Lucian,Kayn,Yasuo,12,4,1,6,8,5,6,8,3,1
4,Brazil,11,1476908929,<1537913707045,1503,1,1,1,1,31,1,1,1,1,1,1,31,10,3,3,1,1,Evelynn,Akali,Singed,Vladimir,Graves,LeeSin,Zed,Draven,Alistar,Rumble,1,4,6,17,3,6,13,9,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,Turkey,11,754852101,<1536781560637,1538,0,0,0,0,50,1,0,0,0,0,0,21,2,0,0,0,0,Pyke,Darius,Akali,Yasuo,Jax,Camille,Alistar,Syndra,Lucian,Khazix,4,0,1,7,9,7,8,4,0,0
399996,Turkey,11,734977956,<1532462844338,2217,1,1,1,1,59,0,0,1,1,0,1,36,7,1,1,0,2,Aatrox,Brand,Darius,Yasuo,Leblanc,Vayne,Gragas,Teemo,Talon,AurelionSol,0,15,6,4,11,10,13,9,8,3
399997,Turkey,11,734977956,<1532462844338,2217,0,0,0,0,79,1,1,0,0,1,0,49,6,0,3,1,0,Velkoz,Graves,Darius,Wukong,Yasuo,Zed,Alistar,Kled,Evelynn,Sivir,7,20,3,5,14,11,14,18,5,0
399998,Turkey,11,748423621,<1535495972554,1484,1,1,0,0,25,1,0,0,0,0,0,18,0,0,0,0,0,Yasuo,Zoe,Diana,Zed,Morgana,Xayah,Ryze,Garen,Camille,Rakan,0,6,3,7,2,4,6,8,1,0
399999,Turkey,11,748423621,<1535495972554,1484,0,0,1,1,44,0,1,1,1,1,0,30,10,2,3,1,0,Morgana,Draven,Leblanc,Katarina,Fiora,Vi,Talon,Annie,Poppy,Ezreal,1,7,16,4,2,9,13,10,2,0

#### Renaming columns to look cleaner/uniformed

In [72]:
# You can do this is one line of code, but makes it less visually appealing for these long games
merge_5.rename(columns = {'seasonId' : 'season_id' }, inplace = True)

In [73]:
merge_5.rename(columns = {'matchId' : 'match_id' }, inplace = True)

In [74]:
merge_5.rename(columns = {'gameCreation' : 'game_created' }, inplace = True)

In [75]:
merge_5.rename(columns = {'gameDuration' : 'game_duration' }, inplace = True)

In [76]:
merge_5.rename(columns = {'wardsPlaced' : 'wards_placed' }, inplace = True)

In [77]:
merge_5.rename(columns = {'firstBlood' : 'first_blood' }, inplace = True)

In [78]:
merge_5.rename(columns = {'firstTower' : 'first_tower' }, inplace = True)

In [79]:
merge_5.rename(columns = {'firstInhibitor' : 'first_inhibitor' }, inplace = True)

In [80]:
merge_5.rename(columns = {'firstDragon' : 'first_dragon' }, inplace = True)

In [81]:
merge_5.rename(columns = {'firstRiftHerald' : 'first_rift_herald' }, inplace = True)

In [82]:
merge_5.rename(columns = {'firstBaron' : 'first_baron' }, inplace = True)

In [83]:
merge_5.rename(columns = {'teamKills' : 'team_kills' }, inplace = True)

In [84]:
merge_5.rename(columns = {'towerKills' : 'tower_kills' }, inplace = True)

In [85]:
merge_5.rename(columns = {'inhibitorKills' : 'inhibitor_kills' }, inplace = True)

In [86]:
merge_5.rename(columns = {'dragonKills' : 'dragon_kills' }, inplace = True)

In [87]:
merge_5.rename(columns = {'riftHeraldKills' : 'rift_herald_kills' }, inplace = True)

In [88]:
merge_5.rename(columns = {'baronKills' : 'baron_kills' }, inplace = True)

In [89]:
merge_5.rename(columns = {'player1Kills' : 'player1_kills' }, inplace = True)

In [90]:
merge_5.rename(columns = {'player2Kills' : 'player2_kills' }, inplace = True)

In [91]:
merge_5.rename(columns = {'player3Kills' : 'player3_kills' }, inplace = True)

In [92]:
merge_5.rename(columns = {'player4Kills' : 'player4_kills' }, inplace = True)

In [93]:
merge_5.rename(columns = {'player5Kills' : 'player5_kills' }, inplace = True)

In [94]:
merge_5.rename(columns = {'soloKills' : 'solo_kills' }, inplace = True)

In [95]:
merge_5.rename(columns = {'duoKills' : 'duo_kills' }, inplace = True)

In [96]:
merge_5.rename(columns = {'trioKills' : 'trio_kills' }, inplace = True)

In [97]:
merge_5.rename(columns = {'quadKills' : 'quad_kills' }, inplace = True)

In [98]:
merge_5.rename(columns = {'pentaKills' : 'penta_kills' }, inplace = True)

In [99]:
merge_5

,server,season_id,match_id,game_created,game_duration,team,map_side,win,outcome,wards_placed,first_blood,first_tower,first_inhibitor,first_dragon,first_rift_herald,first_baron,team_kills,tower_kills,inhibitor_kills,dragon_kills,rift_herald_kills,baron_kills,ban1,ban2,ban3,ban4,ban5,pick1,pick2,pick3,pick4,pick5,player1_kills,player2_kills,player3_kills,player4_kills,player5_kills,solo_kills,duo_kills,trio_kills,quad_kills,penta_kills
0,Brazil,11,1464336847,<1536777218683,1278,1,1,0,0,34,0,0,0,0,0,0,9,1,0,0,0,0,Camille,Alistar,Leblanc,Talon,Rakan,Irelia,Morgana,Fiddlesticks,Kennen,Vayne,0,5,1,2,1,3,4,2,1,0
1,Brazil,11,1464336847,<1536777218683,1278,0,0,1,1,50,1,1,0,1,1,1,15,3,0,2,1,1,Kassadin,Talon,Yasuo,Akali,Camille,Kaisa,Darius,Thresh,LeeSin,Vladimir,1,3,1,2,8,7,7,5,0,0
2,Brazil,11,1469537223,<1537133828880,1689,1,1,0,0,45,0,0,0,0,0,0,14,5,0,1,0,0,Aatrox,Nami,Camille,Pyke,Akali,Irelia,Kaisa,Jax,Thresh,Taliyah,0,4,4,2,4,4,13,8,1,0
3,Brazil,11,1469537223,<1537133828880,1689,0,0,1,1,102,1,1,1,1,1,1,31,7,1,2,1,1,Graves,Morgana,Talon,Vladimir,Leblanc,Urgot,Lulu,Lucian,Kayn,Yasuo,12,4,1,6,8,5,6,8,3,1
4,Brazil,11,1476908929,<1537913707045,1503,1,1,1,1,31,1,1,1,1,1,1,31,10,3,3,1,1,Evelynn,Akali,Singed,Vladimir,Graves,LeeSin,Zed,Draven,Alistar,Rumble,1,4,6,17,3,6,13,9,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,Turkey,11,754852101,<1536781560637,1538,0,0,0,0,50,1,0,0,0,0,0,21,2,0,0,0,0,Pyke,Darius,Akali,Yasuo,Jax,Camille,Alistar,Syndra,Lucian,Khazix,4,0,1,7,9,7,8,4,0,0
399996,Turkey,11,734977956,<1532462844338,2217,1,1,1,1,59,0,0,1,1,0,1,36,7,1,1,0,2,Aatrox,Brand,Darius,Yasuo,Leblanc,Vayne,Gragas,Teemo,Talon,AurelionSol,0,15,6,4,11,10,13,9,8,3
399997,Turkey,11,734977956,<1532462844338,2217,0,0,0,0,79,1,1,0,0,1,0,49,6,0,3,1,0,Velkoz,Graves,Darius,Wukong,Yasuo,Zed,Alistar,Kled,Evelynn,Sivir,7,20,3,5,14,11,14,18,5,0
399998,Turkey,11,748423621,<1535495972554,1484,1,1,0,0,25,1,0,0,0,0,0,18,0,0,0,0,0,Yasuo,Zoe,Diana,Zed,Morgana,Xayah,Ryze,Garen,Camille,Rakan,0,6,3,7,2,4,6,8,1,0
399999,Turkey,11,748423621,<1535495972554,1484,0,0,1,1,44,0,1,1,1,1,0,30,10,2,3,1,0,Morgana,Draven,Leblanc,Katarina,Fiora,Vi,Talon,Annie,Poppy,Ezreal,1,7,16,4,2,9,13,10,2,0

#### Duplicating Column Data Types

Changing 2 columns, 'map_side' and 'outcome', while it might be easy to distinguish who got the first objective through the use of 0/1 booleans, analyzing the data and seeing "Team 0 Win 1" isn't easy to tell that "Red Side Won the match", so we are changing these data types and values to match what they would mean in a real world setting.

In [100]:
merge_6 = merge_5.astype({'map_side' : 'object', 'outcome' : 'object'})

In [101]:
merge_6.dtypes

server               object
season_id             int64
match_id              int64
game_created         object
game_duration         int64
team                  int64
map_side             object
win                   int64
outcome              object
wards_placed          int64
first_blood           int64
first_tower           int64
first_inhibitor       int64
first_dragon          int64
first_rift_herald     int64
first_baron           int64
team_kills            int64
tower_kills           int64
inhibitor_kills       int64
dragon_kills          int64
rift_herald_kills     int64
baron_kills           int64
ban1                 object
ban2                 object
ban3                 object
ban4                 object
ban5                 object
pick1                object
pick2                object
pick3                object
pick4                object
pick5                object
player1_kills         int64
player2_kills         int64
player3_kills         int64
player4_kills         int64
player5_kills         int64
solo_kills            int64
duo_kills             int64
trio_kills            int64
quad_kills            int64
penta_kills           int64
dtype: object

Now to change the values within those columns

In [102]:
merge_6['map_side'].replace({0:'Red Side'}, inplace = True)

In [103]:
merge_6['map_side'].replace({1:'Blue Side'}, inplace = True)

In [104]:
merge_6['outcome'].replace({0:'Defeat'}, inplace = True)

In [105]:
merge_6['outcome'].replace({1:'Victory'}, inplace = True)

In [106]:
merge_6

,server,season_id,match_id,game_created,game_duration,team,map_side,win,outcome,wards_placed,first_blood,first_tower,first_inhibitor,first_dragon,first_rift_herald,first_baron,team_kills,tower_kills,inhibitor_kills,dragon_kills,rift_herald_kills,baron_kills,ban1,ban2,ban3,ban4,ban5,pick1,pick2,pick3,pick4,pick5,player1_kills,player2_kills,player3_kills,player4_kills,player5_kills,solo_kills,duo_kills,trio_kills,quad_kills,penta_kills
0,Brazil,11,1464336847,<1536777218683,1278,1,Blue Side,0,Defeat,34,0,0,0,0,0,0,9,1,0,0,0,0,Camille,Alistar,Leblanc,Talon,Rakan,Irelia,Morgana,Fiddlesticks,Kennen,Vayne,0,5,1,2,1,3,4,2,1,0
1,Brazil,11,1464336847,<1536777218683,1278,0,Red Side,1,Victory,50,1,1,0,1,1,1,15,3,0,2,1,1,Kassadin,Talon,Yasuo,Akali,Camille,Kaisa,Darius,Thresh,LeeSin,Vladimir,1,3,1,2,8,7,7,5,0,0
2,Brazil,11,1469537223,<1537133828880,1689,1,Blue Side,0,Defeat,45,0,0,0,0,0,0,14,5,0,1,0,0,Aatrox,Nami,Camille,Pyke,Akali,Irelia,Kaisa,Jax,Thresh,Taliyah,0,4,4,2,4,4,13,8,1,0
3,Brazil,11,1469537223,<1537133828880,1689,0,Red Side,1,Victory,102,1,1,1,1,1,1,31,7,1,2,1,1,Graves,Morgana,Talon,Vladimir,Leblanc,Urgot,Lulu,Lucian,Kayn,Yasuo,12,4,1,6,8,5,6,8,3,1
4,Brazil,11,1476908929,<1537913707045,1503,1,Blue Side,1,Victory,31,1,1,1,1,1,1,31,10,3,3,1,1,Evelynn,Akali,Singed,Vladimir,Graves,LeeSin,Zed,Draven,Alistar,Rumble,1,4,6,17,3,6,13,9,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,Turkey,11,754852101,<1536781560637,1538,0,Red Side,0,Defeat,50,1,0,0,0,0,0,21,2,0,0,0,0,Pyke,Darius,Akali,Yasuo,Jax,Camille,Alistar,Syndra,Lucian,Khazix,4,0,1,7,9,7,8,4,0,0
399996,Turkey,11,734977956,<1532462844338,2217,1,Blue Side,1,Victory,59,0,0,1,1,0,1,36,7,1,1,0,2,Aatrox,Brand,Darius,Yasuo,Leblanc,Vayne,Gragas,Teemo,Talon,AurelionSol,0,15,6,4,11,10,13,9,8,3
399997,Turkey,11,734977956,<1532462844338,2217,0,Red Side,0,Defeat,79,1,1,0,0,1,0,49,6,0,3,1,0,Velkoz,Graves,Darius,Wukong,Yasuo,Zed,Alistar,Kled,Evelynn,Sivir,7,20,3,5,14,11,14,18,5,0
399998,Turkey,11,748423621,<1535495972554,1484,1,Blue Side,0,Defeat,25,1,0,0,0,0,0,18,0,0,0,0,0,Yasuo,Zoe,Diana,Zed,Morgana,Xayah,Ryze,Garen,Camille,Rakan,0,6,3,7,2,4,6,8,1,0
399999,Turkey,11,748423621,<1535495972554,1484,0,Red Side,1,Victory,44,0,1,1,1,1,0,30,10,2,3,1,0,Morgana,Draven,Leblanc,Katarina,Fiora,Vi,Talon,Annie,Poppy,Ezreal,1,7,16,4,2,9,13,10,2,0

## Exporting

In [107]:
merge_6.to_csv(os.path.join(path,'02 Data','Prepared Data','combined.csv'), index=False)